@import '../../vars.scss';
@import '../../mixin.scss';

.header {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 3rem;

   .btnsPc {
      display: none;
      gap: 1rem;

      button {
         display: flex;
         align-items: center;
         color: inherit;

         svg {
            font-size: 1.2rem;
            color: inherit;
         }

         &:nth-child(1) {
            border: 1px solid $txtColor;
            border-radius: 40px;
            padding: .5rem 1rem;
         }
      }
   }

   .btnsMobile {
      display: flex;
      gap: 1rem;

      button {
         display: flex;
         align-items: center;
         color: inherit;

         svg {
            font-size: 1.2rem;
            color: inherit;
         }

         &:nth-child(1) {
            border: 1px solid $txtColor;
            border-radius: 40px;
            padding: .5rem 1rem;
         }

      }

   }

   @media (width > 600px) {
      .btnsMobile {
         display: none;
      }

      .btnsPc {
         display: flex;
      }
   }
}


@keyframes rotate-animation {
   0% {
      rotate: 0deg;
   }

   20% {
      translate: 0 0;
   }

   80% {
      translate: 50px -50px;
   }

   100% {
      rotate: 360deg;
   }
}