:root{
   --bg-color: #fff;
   --text-color: #222 ;
   --mc: pink;
}

$bgColor: var(--bg-color);
$txtColor: var(--text-color);
$mainColor: var(--mc);


.f-c{
   display: flex;
   justify-content: center;
   align-items: center;
 }